* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

header > a > img {
    width: 80px;
  }

body {
    text-align: center;
}

body p {
    font-size: xx-large;
}

body img {
    width: 60%;
}